<p>Total time before HTML is generated: <%= Time.now - @start_time %> s</p>
<p>Memory used before HTML is generated: <%= @memory_used %> MB</p>

<table>
  <thead>
    <tr>
      <th>Gene Name</th>
      <th>Gene's DNA</th>
      <th>Percent Similarity</th>
    </tr>
  </thead>
  <tbody>
    <% @hits.each do |h| %>
      <tr>
        <td><%= h.match_gene_name %></td>
        <td><%= h.match_gene_dna.first(100) %></td>
        <td><%= h.percent_similarity %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>Total time before HTML is generated: <%= Time.now - @start_time %> s</p>
<p>Memory used after HTML is generated: <%= memory_in_mb %> MB</p>
